<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">AcademyRise</ion-title>
    <ion-buttons slot="end" class="button-round" >
      @if (!usuarioLogueado) {
        <ion-button color="primary" size="small" (click)="openLogin()" >Iniciar Sesión</ion-button>
        <ion-button color="danger" size="small" (click)="openRegister()" >Registrarse</ion-button>
      }@else {
        <!-- <ion-button  color="primary" size="large" (click)="openCursos()">Cursos</ion-button> -->
        <ion-button  color="danger" size="large" (click)="logout()">Logout</ion-button>
        
      } 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterCards()"></ion-searchbar>

  @for (curso of filteredCursos; track curso.titulo) {
    <ion-card> 
      <!-- <img src="{{ curso.imagen }}" alt="Imagen del curso" class="curso-imagen"/>  --> <!-- se podra poner la img del curso de fondo mirar ejemplo temps -->
      <ion-card-header>
        <ion-card-title >{{ curso.titulo }}</ion-card-title>  
        <ion-card-subtitle>{{ curso.autor }}</ion-card-subtitle>   
      </ion-card-header>
      
      <ion-card-content>{{ curso.descripcion }}</ion-card-content>
    
      <ion-button fill="clear">Subscribe</ion-button>
    </ion-card>
  } @empty {
    <div class="empty-container">
      <ion-icon name="warning-outline"></ion-icon>
      <p>No hay cursos disponibles.</p>
    </div>
  }
<!-- TODO:PODRIAMOS PONER UNOS TABS PARA PONER CURSOS/ PERFIL/ MIS CURSOS/ LOGOUT /-->

<!--   <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
     
      
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="danger" size="small" (click)="openFaq()">FAQ
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" size="small"  (click)="logout()">Log Out
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->


  

  
</ion-content>