<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">AcademyRise</ion-title>
    <ion-buttons slot="end" class="button-round" >
      <ion-button color="primary" size="small" >Iniciar Sesión</ion-button>
      <ion-button color="danger" size="small" >Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<!--   @if (a > b) {
    {{a}} is greater than {{b}}
  } @else if (b > a) {
    {{a}} is less than {{b}}
  } @else {
    {{a}} is equal to {{b}}
  } -->
  @for (curso of cursos; track curso.titulo) {
    
    <ion-card> 
      <!-- <img src="{{ curso.imagen }}" alt="Imagen del curso" class="curso-imagen"/>  --> <!-- se podra poner la img del curso de fondo mirar ejemplo temps -->
      <ion-card-header>
        
        <ion-card-title >{{ curso.titulo }}</ion-card-title> 
        
        <ion-card-subtitle>{{ curso.autor }}</ion-card-subtitle>
         
      </ion-card-header>
    
      <ion-card-content>
        {{ curso.descripcion }}
      </ion-card-content>
    
      <ion-button fill="clear">Subscribe</ion-button>
    </ion-card>
  } @empty {
    <li> There are no items. </li>
  }
  
</ion-content>
