<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Registro</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" size="small" (click)="openHome()">Home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-list>

      <ion-item>
        <ion-input label="username" labelPlacement="floating" class="full-width" type="text" formControlName="username"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input label="email" labelPlacement="floating" class="full-width" type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="password" labelPlacement="floating" class="full-width" type="password" formControlName="password"></ion-input>
      </ion-item>
   
      <ion-item>
        <ion-input label="confirmPassword" labelPlacement="floating" class="full-width" type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Rol" labelPlacement="floating" name="role" formControlName="role" fill="solid">
          <ion-select-option value="instructor">Instructor</ion-select-option>
          <ion-select-option value="alumno">Alumno</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <ion-row class="signin">
      <ion-col>
        <ion-button type="submit" expand="block"  [disabled]="!registerForm.valid">Registrar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="cancela()" expand="block" >Cancela</ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>